

.car-layout{

    position: relative;
    display: inline-block;
    width:50%;
    height: 300px;
   float: left;
   /*  border:2px solid #8dc63f; */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;


}
/* .car-layout-img{
    width: 300px;
    height: 200px;
    margin:10px auto;
    border: 1px solid #eb3b46;
    display: block;
    background-position: 0 0;
    background-image: url("../img/cars/first.jpg");}*/
.slider{ 
    width: 300px;
    height: 200px;
    position: relative;
    margin: 10px auto;


}
.slider li{
    list-style: none;
    position: absolute;
}
.slider input{
    display: none;
}
.slider img{
width: 300px;
height: 200px;
    visibility: hidden;
    opacity: 0;

}
.slider label{
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    bottom: 10px;
    z-index: 10;
    cursor: pointer;
 /*   border: 1px solid #000000;*/
    border-radius: 50%;
    background-color: blue;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .25ms ;
    -moz-transition: .25ms ;
    -ms-transition: .25ms ;
    -o-transition: .25ms ;
    transition: .25ms ;


}
.slider:hover label{
    visibility: visible;
    opacity: 1;
}
.slider input:checked + label{
    background-color: #8dc63f;
}

.slider:hover li:nth-child(1) label{
    left:10px;

}
.slider:hover li:nth-child(2) label{
    left:25px;

}.slider:hover li:nth-child(3) label{
     left:40px;

 }.slider:hover li:nth-child(4) label{
      left:55px;

  }
  .slider li input:checked ~img{
      opacity: 1;
      visibility: visible;
      z-index: 10;
  }

